.funkoCard {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-bottom: 10px;
    align-items: center;
}

.funkoPopList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


.funkoPopContainer{
    display: flex;
    flex-flow: row wrap;
}

.funkoPopButton {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    justify-content: space-between;
    padding: 5px;
}

.funkoImageSrc {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 300px;
}



.funkoPopLogin{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: auto;
    max-width: 600px;
}