.btn-add-save {
    margin: 5px;
}

.btn-add-cancel {
    margin: 5px;
}

.leave-comment-button{
    margin: 5px;
}

.return-to-blog-button{
    margin: 5px;
}

.edit-comment-button{
    margin: 5px;
}

.delete-comment-button{
    margin: 5px;
}